#services{
    .icon{
        font-size: 2.5rem;
        color: $primary;
        display: block;
    }
    .pic{
        width: 100%;
        img{
            width: 90%;
            margin: auto;
        }
    }
}