.heading{
    font-size: 1.5rem;
    color: $secondary;
    font-weight: bold;
    position: relative;
    &:after{
        position: absolute;
        content: "";
        width: 30px;
        height: 4px;
        bottom: -20px;
        right: 0;
        background: $primary;
    }
}

.header{
    margin-top: 5rem;
    font-size: 3.5rem;
    color: black;
    font-weight: bold;
    
    
}


.header-line{
    margin-top: .8rem;
    &:before {
        content: "";
        width: 15rem;
        height: 0.1rem;
        display: block;
        margin: 0 auto;
        background-color: $primary;
    }
    &:after {
        content: "";
        width: 2rem;
        padding-top: 0.5rem;
        height: 01.2rem;
        display: block;
        margin: 0 auto;
        margin-bottom: 1rem;
        background-color: $primary;
    }
      
}




